<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.modules.work.workorderretur.mapper.WorkOrderReturDetailMapper">
    
	<sql id="workOrderDetailColumns">
		a.id AS "id",
		a.mds_item_id AS "mdsItemId",
		a.model_num AS "modelNum",
		a.column2 AS "column2",
		a.column3 AS "column3",
		a.column4 AS "column4",
		a.column5 AS "column5",
		a.create_by AS "createBy.id",
		a.update_by AS "updateBy.id",
		a.remarks AS "remarks",
		a.classify AS "classify",
		a.parent_id AS "parent.id",
		a.parent_ids AS "parentIds",
		a.name AS "name",
		a.sort AS "sort",
		a.mat_bom_id AS "matBomId",
		a.work_order_id AS "workOrderId",
		a.work_order_son_id as "workOrderSonId",
		a.begin_plan_date as "planStartDate",
		a.end_plan_date as "planEndDate",
		a.finish_state as "finishState",
	a.finish_plan as "finishPlan", 
	a.rel_begin_date as "relBeginDate", 
	a.rel_end_date as "relEndDate",
		e.item_name as "mdsItemName"	
		
	</sql>
	
	<sql id="workOrderDetailJoins">
		left join mds_item e on e.id=a.mds_item_id
	</sql>
	 <select id="getByBomItemId" resultType="WorkOrderReturDetail" >
		SELECT 
			<include refid="workOrderDetailColumns"/>
		FROM work_order_detail a
		<include refid="workOrderDetailJoins"/>
		WHERE a.mat_bom_id = #{matBomId} and a.remarks = #{remarks}
	</select>
    <select id="getByWorkOrderSonId" resultType="WorkOrderReturDetail" >
		SELECT 
			<include refid="workOrderDetailColumns"/>
		FROM work_order_detail a
		<include refid="workOrderDetailJoins"/>
		WHERE a.work_order_son_id = #{workOrderSonId}
	</select>
	<select id="get" resultType="WorkOrderReturDetail" >
		SELECT 
			<include refid="workOrderDetailColumns"/>
		FROM work_order_detail a
		<include refid="workOrderDetailJoins"/>
		WHERE a.id = #{id}
	</select>
	<select id="gets" resultType="WorkOrderReturDetail" >
		SELECT 
			<include refid="workOrderDetailColumns"/>
		FROM work_order_detail a
		<include refid="workOrderDetailJoins"/>
		WHERE a.id = #{matBomDetailId}
	</select>
	<select id="findList" resultType="WorkOrderReturDetail" >
		SELECT 
			<include refid="workOrderDetailColumns"/>
		FROM work_order_detail a
		<include refid="workOrderDetailJoins"/>
		<where>
			a.work_order_son_id=#{workOrderSonId}
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="WorkOrderReturDetail" >
		SELECT 
			<include refid="workOrderDetailColumns"/>
		FROM work_order_detail a
		<include refid="workOrderDetailJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	
	<insert id="insert">
		INSERT INTO work_order_detail(
			id,
			mds_item_id,
			model_num,
			column2,
			column3,
			column4,
			column5,
			create_by,
			update_by,
			remarks,
			classify,
			parent_id,
			parent_ids,
			name,
			sort,
			mat_bom_id,
			work_order_id,
			begin_plan_date,
			end_plan_date,
			work_order_son_id
		) VALUES (
			#{id},
			#{mdsItemId},
			#{modelNum},
			#{column2},
			#{column3},
			#{column4},
			#{column5},
			#{createBy.id},
			#{updateBy.id},
			#{remarks},
			#{classify},
			#{parent.id},
			#{parentIds},
			#{name},
			#{sort},
			#{matBomId},
			#{workOrderId},
			#{planStartDate},
			#{planEndDate},
			#{workOrderSonId}
		)
	</insert>
	
	<update id="update">
		UPDATE work_order_detail SET 	
			update_by = #{updateBy.id},
			begin_plan_date=#{planStartDate},
			end_plan_date=#{planEndDate}
		WHERE id = #{id}
	</update>
	
	<update id="updateRetur">
		UPDATE work_order_detail SET 	
			update_by = #{updateBy.id},
			update_date= #{updateDate},
			finish_plan= #{finishPlan}, 
			finish_state=#{finishState},
			rel_begin_date = #{relBeginDate}, 
			rel_end_date = #{relEndDate}
			
		WHERE id = #{id}
	</update>
		
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM work_order_detail
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE work_order_detail SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="WorkOrderDetail" statementType="STATEMENT">
		select * FROM work_order_detail  where ${propertyName} = '${value}'
	</select>
	
</mapper>